# Make vim the default editor
export EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer AU English and use UTF-8
export LANG="en_AU.UTF-8";
export LC_ALL="en_AU.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Java and Groovy home directories
export JAVA_HOME="$(/usr/libexec/java_home)"
export GROOVY_HOME="$(brew --prefix groovy)/libexec"

# Gradle home directory
export GRADLE_HOME="$(brew --prefix gradle)/libexec"

# Dot files repository home directory
export DOTFILES_HOME="$HOME/Development/home/dotfiles"

# Docker remote host (docker.host needs to defined in /etc/hosts)
export DOCKER_HOST="tcp://docker.host:4243"

# AWS CLI tools variables
#export EC2_PRIVATE_KEY="$(/bin/ls "$HOME"/.ec2/pk-*.pem | /usr/bin/head -1)"
#export EC2_CERT="$(/bin/ls "$HOME"/.ec2/cert-*.pem | /usr/bin/head -1)"
#export EC2_HOME="/usr/local/Cellar/ec2-api-tools/1.6.12.0/libexec"
#export EC2_URL="https://ec2.ap-southeast-2.amazonaws.com"

# Golang variables
export GOPATH="$HOME/Development/home/go"
export GOROOT="$(brew --prefix go)/libexec"

export FOO=ashlin

# Idempotent path variable with Homebrew and Go executables preceding the rest 
export PATH="/usr/local/bin:$(brew --prefix coreutils)/libexec/gnubin:$GOROOT/bin:$GOPATH/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/X11/bin:$HOME/bin:/usr/share/terraform"
