# Make vim the default editor
export EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer AU English and use UTF-8
export LANG="en_AU.UTF-8";
export LC_ALL="en_AU.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Dot files repository home directory
export DOTFILES_HOME="$HOME/Projects/dotfiles"

# Docker remote host
export DOCKER_HOST="tcp://127.0.0.1:4243"

# Path
export PATH="/usr/local/bin:$(brew --prefix coreutils)/libexec/gnubin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/X11/bin:${HOME}/bin"
# orig path=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
